<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="../static/imgs/logo_source.jpg" type="image/x-icon" />
	<title>个人简历</title>
	<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="../static/css/timeline.css">
	<link rel="stylesheet" type="text/css" href="../static/css/jianli.css">
</head>

<body oncontextmenu="return false" onselectstart="return false" oncopy="return false">
	<div class="container-fluid">
		<div class="tittle">
			<span><img src="../static/imgs/logo_white.png" draggable="false"></span>
			<span><a href="/login"><button
						style="background-color: transparent; border: none; color: white; font-size: 32px;">登录</button></a></span>
		</div> <!-- tittle end -->
		<div class="jieshao">
			<h2>基本资料</h2>
			<div>
				<img src="../static/imgs/jianli_tx.jpg" draggable="false">
			</div>
			<div>
				<table>
					<tr>
						<td>姓名</td>
						<td>万海豹</td>
						<td>手机</td>
						<td>19934299274</td>
					</tr>
					<tr>
						<td>性别</td>
						<td>男</td>
						<td>邮箱</td>
						<td>2405294600@qq.com</td>
					</tr>
					<tr>
						<td>出生</td>
						<td>2000.09.27</td>
						<td>居住</td>
						<td>北京市昌平区</td>
					</tr>
					<tr>
						<td>家乡</td>
						<td>河南省信阳市</td>
						<td>学历</td>
						<td>专科</td>
					</tr>
					<tr>
						<td>学校</td>
						<td>宿迁职业技术学院</td>
						<td>专业</td>
						<td>大数据技术与应用</td>
					</tr>
				</table>
			</div>
		</div> <!-- jieshao end -->
		<div class="jineng">
			<h2>专业技能</h2>
			<div>
				<table>
					<tr>
						<th>Python</th>
						<td>⭐⭐⭐⭐☆</td>
					</tr>
					<tr>
						<th>Linux</th>
						<td>⭐⭐⭐⭐☆</td>
					</tr>
					<tr>
						<th>Mysql</th>
						<td>⭐⭐⭐ ☆ ☆</td>
					</tr>
				</table>
			</div>
			<div>
				<ol>
					<li>熟悉 Linux常用命令</li>
					<li>熟悉 Python</li>
					<li>熟悉Jmeter，Postmen，Fiddler</li>
				</ol>
			</div>
		</div> <!-- jineng end -->
		<div class="col-md-12">
			<div class="row">
				<h2>工作经历</h2>
				<div class="timeline timeline-line-dotted">
					<!-- 第一个事件 -->
					<span class="timeline-label">
						<span class="label label-primary">2021-07 ~ 20222-04</span>
					</span>
					<div class="timeline-item">
						<div class="timeline-point timeline-point-success">
							<i class="fa fa-money"></i>
						</div>
						<div class="timeline-event">
							<div class="timeline-heading">
								<h4>中国移动</h4>
							</div>
							<div class="timeline-body">
								<p>1. 负责编写测试用例，执行用例</p>
								<p>2. 参与测试用例评审 </p>
								<p>3. 编写测试报告</p>
							</div>
							<div class="timeline-footer">
								<p class="text-right"><b>测试工程师</b></p>
							</div>
						</div>
					</div>
					<!-- 终止符 -->
					<span class="timeline-label">
						<a href="#" class="btn btn-default" title="More...">
							<i class="fa fa-fw fa-history"></i>
						</a>
					</span>
				</div>
			</div>
		</div> <!-- col-md-12 end-->
	</div>
</body>
<script src="../static/js/disable_login.js"></script>

</html>